
@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="row-contact">
            <div class="row-contact-title">
                <h1>
                    Thanh toán thành công
                </h1>
            </div>
            <div class="form-decription">
                <button class="btn btn-outline-dark">
                    @Html.ActionLink("Tiếp tục mua sắm", "AllChamSocDa", "Products")
                </button>
            </div>
        </div>
    </div>
</div>


<style>
    .row-contact {
        margin: 60px 50px;
    }

    .row-contact-title h1 {
        font-size: 5rem;
        text-transform: uppercase;
        font-weight: 600;
    }
</style>
