
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
       <div class="row-contact">
           <div class="row-contact-title">
               <h1>
                   Liên hệ đến shiseido
               </h1>
           </div>
           <div class="form-decription">
               <p>Nếu bạn có bất kỳ câu hỏi hay cần sự hỗ trợ nào, xin vui lòng điền vào biểu mẫu bên dưới. Hoặc liên hệ phòng Chăm Sóc Khách Hàng của Shiseido qua số điện thoại: 1900 633 915 hoặc email đến: chamsockhachhang@scv.shiseido.vn. Chúng tôi hân hạnh được hỗ trợ quý khách từ 8:30 - 17:30 từ thứ Hai đến thứ Sáu trong tuần.</p>
           </div>
       </div>
    </div>
</div>


<style>
    .row-contact {
        margin: 60px 50px;
    }
    .row-contact-title h1 {
        font-size: 5rem;
        text-transform: uppercase;
        font-weight: 600;
    }
</style>
