



    <a href="@Url.Action("GioHang","Cart")" class="notification">
        <i class="fa-solid fa-shopping-cart fa-xl nav-item" style="color: #ffffff;"></i>
        <span class="badge">@ViewBag.TongSoLuong</span>
    </a>


